@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Knapsack problem</h1>
    <p class="lead">An application that solves Knapsack Problem</p>
    <p><a href="https://en.wikipedia.org/wiki/Knapsack_problem" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<p>This project is an application for calculating the optimal solution of the knapsack problem for given parameters.</p>
<p>Made by Ayya Galieva</p>

